<!doctype html>
<html>
<head>
    <title>COVID-19 India Data</title>
</head>
<body>
    <h1>COVID-19 India Data</h1>
    <ul>
        <li><a href="/affected/most">Most affected state</a></li>
        <li><a href="/affected/least">Least affected state</a></li>
        <li><a href="/total/most">State with the most cases</a></li>
        <li><a href="/total/least">State with the least cases</a></li>
        <li><a href="/total">Total cases in India</a></li>
        <li><a href="/handled/most">State that handled most cases</a></li>
        <li><a href="/handled/least">State that handled least cases</a></li>
        <li><a href="/data">All COVID-19 data for India</a></li>
    </ul>
</body>
</html>